@model List<CGSolar.Models.OperationAndMaintenanceModel>
@{
    ViewBag.Title = "O and M sheet";
}
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />
    
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
    
<style>
    #OMtable thead{
        color: black;
        border-collapse: collapse;
        border: 1px solid black;
    }

    #OMtable tbody td{        
        border-collapse:collapse;
        border:1px solid black;

    }
    tbody td:hover{
        background-color:coral;
    }
    /*.dataTables_scrollBody{
        max-height:15px;
        overflow-y:scroll;
    }*/
</style>

    <div class="table table-responsive" style="margin-top:20px">
        <table id="OMtable" style="">
            <thead style="background-color:gold">                
                <tr>
                    <td>S.No.</td>
                    <td>Wo#</td>
                    <td>Beneficiary Name</td>
                    <td>Village</td>
                    <td>Block</td>
                    <td>District</td>
                    <td>System Capacity</td>
                    <td>Contact Number</td>
                    <td>Problem Report Date</td>
                    <td>Problem Type</td>
                    <td>Status</td>
                    <td>Date Of Completion</td>
                </tr>
            </thead>
            <tbody>
                @{int count = 1;
                foreach (var item in Model)
                {                    
                    <tr>
                        <td>@count</td>
                        <td>@item.WorkOrderNo</td>
                        <td>@item.BeneficiaryName</td>
                        <td>@item.Village</td>
                        <td>@item.Block</td>
                        <td>@item.District</td>
                        <td>@item.SystemCapacity</td>
                        <td>@item.Contact</td>
                        <td>@item.ReportedDate</td>
                        <td>@item.ProblemDescription</td>
                        <td>@item.Status</td>
                        <td>@item.CompletionDate</td>
                        <td><a data-target="#myModal_@count" data-toggle="modal">Edit</a></td>
                    </tr>
                    @*<tr>
                            <td>2</td>
                            <td>123456</td>
                            <td>Vishal</td>
                            <td>Vizag</td>
                            <td>1</td>
                            <td>Vizag</td>
                            <td>3</td>
                            <td>7799004545</td>
                            <td>1/2/3</td>
                            <td>Problem Type</td>
                            <td>Status</td>
                            <td>2/3/4</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>123456</td>
                            <td>Praveen</td>
                            <td>Hyderabad</td>
                            <td>1</td>
                            <td>Hyderabad</td>
                            <td>3</td>
                            <td>8949763754</td>
                            <td>1/2/3</td>
                            <td>Problem Type</td>
                            <td>Status</td>
                            <td>2/3/4</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>123456</td>
                            <td>Praveen</td>
                            <td>Hyderabad</td>
                            <td>1</td>
                            <td>Hyderabad</td>
                            <td>3</td>
                            <td>8949763754</td>
                            <td>1/2/3</td>
                            <td>Problem Type</td>
                            <td>Status</td>
                            <td>2/3/4</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>123456</td>
                            <td>Praveen</td>
                            <td>Hyderabad</td>
                            <td>1</td>
                            <td>Hyderabad</td>
                            <td>3</td>
                            <td>8949763754</td>
                            <td>1/2/3</td>
                            <td>Problem Type</td>
                            <td>Status</td>
                            <td>2/3/4</td>
                        </tr>*@
                        count++;
                    }
                }
                @*<tr>
                    <td>2</td>
                    <td>123456</td>
                    <td>Vishal</td>
                    <td>Vizag</td>
                    <td>1</td>
                    <td>Vizag</td>
                    <td>3</td>
                    <td>7799004545</td>
                    <td>1/2/3</td>
                    <td>Problem Type</td>
                    <td>Status</td>
                    <td>2/3/4</td>
                </tr>
                    
                <tr>
                    <td>3</td>
                    <td>123456</td>
                    <td>Praveen</td>
                    <td>Hyderabad</td>
                    <td>1</td>
                    <td>Hyderabad</td>
                    <td>3</td>
                    <td>8949763754</td>
                    <td>1/2/3</td>
                    <td>Problem Type</td>
                    <td>Status</td>
                    <td>2/3/4</td>
                </tr>*@
                    

            </tbody>
        </table>
    </div>
@{int modalCount = 0;}
@foreach (var item in Model)
{
    modalCount++;
    <div id="myModal_@modalCount" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-2" style="color:white">Work Order: </label>
                                <div class="col-sm-4">
                                    <input id="workOrder" name="WorkOrder" class="form-control" type="text" placeholder="Please Enter Work Order No." />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" style="color:white">System Capacity: </label>
                                <div class="col-sm-4">
                                    <input id="systemCapacity" name="SystemCapacity" class="form-control" type="text" placeholder="Please Enter System Capacity" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" style="color:white">Beneficiary Name: </label>
                                <div class="col-sm-4">
                                    <input id="beneficiaryName" class="form-control" type="text" placeholder="Please Enter Beneficiary Name" />
                                    <input id="beneficiaryID" name="benID" type="hidden" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" style="color:white">Contact Number: </label>
                                <div class="col-sm-4">
                                    <input id="contactNumber" name="Contact" class="form-control" type="text" placeholder="Please Enter Contact Number" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" style="color:white">Village: </label>
                                <div class="col-sm-4">
                                    <input id="village" name="Village" class="form-control" type="text" placeholder="Please Enter Village Name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" style="color:white">Block: </label>
                                <div class="col-sm-4">
                                    <input id="block" name="Block" class="form-control" type="text" placeholder="Please Enter Block No." />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" style="color:white">District: </label>
                                <div class="col-sm-4">
                                    <input id="district" name="District" class="form-control" type="text" placeholder="Please Enter District" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" style="color:white">Problem Reported Date: </label>
                                <div class="col-sm-4">
                                    <input id="reportDate" name="ReportedDate" class="form-control" type="text" placeholder="Please Select Date" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" style="color:white">Pump Type: </label>
                                <div class="col-sm-4">
                                    <input id="pumpType" name="PumpType" class="form-control" type="text" placeholder="Please Enter Pump Type" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" style="color:white">Problem Description: </label>
                                <div class="col-sm-4">
                                    <textarea class="form-control" name="ProblemDescription" placeholder="Please Enter Problem Description"></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-2">
                                    <button class="form-control btn-success" type="submit" formaction="ComplaintForm" formmethod="post">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
}

<script>
    $('#OMtable').DataTable({
        "scrollY": "300px",
        "order": [],
        "scrollCollapse":true
    });
</script>